
@import url('../lib/bootstrap/dist/css/custom/custom.css');

#personal_account {
    background: transparent linear-gradient(91deg, #F4F2F2 0%, #F3F3F1 82%, #F4F3F200 100%) 0% 0% no-repeat padding-box;
    background-image: url('../images/DSC_2910 (1).jpg');
    background-repeat: no-repeat;
    background-position: 89% top;
    background-size: 100%;
}

.hero-image {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.hero-content {
    width: 40%;
    padding: 30px 0;
}

.gold-title{
    margin: 20px 0;
}

ul.list-gold::before{
    content:none;
    margin:0;
}
