@page
@model Parallex_MFB.Web.Pages.aboutusModel
@{
}

<div class="row container-fluid">
    <div class="row">
        <img src="~/images/pexels-pixabay-50987.png" />
    </div>

    
</div>
<div class="row">
    <div class="paralex-margin">
        <div class="card-deck">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Value/Mission/Values</h5>
                    <p class="card-text">Value/Mission/Values</p>
                </div>

            </div>
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Company Profile</h5>

                </div>

            </div>
            <div class="card">

                <div class="card-body">

                    <p class="card-text">Board of Directors</p>
                </div>

            </div>
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>

            </div>
        </div>
    </div>
</div>
