@page
@model Parallex_MFB.Web.Pages.aboutusModel
@{
}

<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">About Us</p>

        </div>

    </div>

</div>

<div class="container paralex-margin-inner-pages">

    <div class="card-deck">
        <div class="card col-md-3">

            <div class="card-body">
                <h5 class="card-title">Value/Mission/Values</h5>
                <p class="card-text">Value/Mission/Values</p>
            </div>

        </div>
        <div class="card col-md-3">

            <div class="card-body">
                <h5 class="card-title">Company Profile</h5>

            </div>

        </div>
        <div class="card col-md-3">

            <div class="card-body">

                <p class="card-text">Board of Directors</p>
            </div>

        </div>
        <div class="card col-md-3">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>

        </div>
    </div>
</div>

<div class="container paralex-margin-inner-pages">

    <div class="card-deck">
        <div class="card col-md-3">

            <div class="card-body">
                <h5 class="card-title">Value/Mission/Values</h5>
                <p class="card-text">Value/Mission/Values</p>
            </div>

        </div>
        <div class="card col-md-3">

            <div class="card-body">
                <h5 class="card-title">Company Profile</h5>

            </div>

        </div>
        <div class="card col-md-3">

            <div class="card-body">

                <p class="card-text">Board of Directors</p>
            </div>

        </div>
        <div class="card col-md-3">

            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="row square col-md-4">

        </div>
        <div class="square col-md-4" style="margin:50px">

        </div>
    </div>
    <div class=" square col-md-4">

    </div>
    <div class="square col-md-3">

    </div>
</div>