@page
@model Parallex_MFB.Web.Pages.account_openingModel
@{
}

<link href="~/css/account-opening.css" rel="stylesheet" />

<section id="account-opening">
    <div class="container">
        <div class="row title-container">
            <div>
                <h1 class="title">
                    Parallex Bank Online Account Opening
                </h1>
                <p class="paralax-body-font">You can open your Parallex Bank Account anywhere in the world, It's easy, convenient and seamless</p>
            </div>
        </div>
    </div>

    <div class="container paralax-body-font">
        <div class="row card-container">
            <div class="card">
                <p>
                    <span class=""></span>
                    Open a Personal Account
                </p>
            </div>
            <div class="card">
                <p>
                    <span class=""></span>
                    Open a Business Account
                </p>
            </div>
        </div>
    </div>
</section>


