@page
@model Parallex_MFB.Web.Pages.boardModel
@{
}
<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Board Of Directors</p>
        </div>



    </div>

</div>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">Board Of Directors</p>
        <p class="paralax-body-font">The Company's overall corporate policy is determined by a six member Board of Directors which is chaired by Dr. Deola Okeowo. The Board takes decisions on policy matters aimed at meeting the Company s goals and objectives.</p>

    </div>
</div>

<div class="row paralex-margin-inner-pages justify-content-center" style="margin-top:150px">

    <div class="row text-center col-md-4">
        <div class="col-lg-4">
            <div class="card shadow mb-5" style="width: 20rem; height:28rem; background-color:#F6F6F6">
                <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                <div class="card-block">
                    <p class="paralex-card-title header-font-card">Pastor Olufemi Akintayo Otenigbagbe.</p>
                    <p class="card-position">Managing Director/CEO</p>
                    <p class="paralex-card-text paralax-body-font-two">He is a professional and a highly qualified Manager offering more than twenty one years (21) years of working experience in the job market with eleven years...</p>
                    <button type="button" class="btn paralax-btn-outline-yellow my-2 my-sm-0" data-toggle="modal" data-target=".bd-example-modal-lg">Read More</button>

                </div>
            </div>
        </div>
    </div>
    <div class="row text-center col-md-4">
        <div class="col-lg-4">
            <div class="card shadow mb-5" style="width: 20rem; height:28rem; background-color:#F6F6F6">
                <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                <div class="card-block">
                    <p class="paralex-card-title header-font-card">Dr Deola Philips, Chairperson (MBBS)</p>
                    <p class="card-position">Institute of Directors</p>
                    <p class="paralex-card-text paralax-body-font-two">She attended University Of Lagos, College Of Medicine, Lagos where she bagged a degree in Medicine, Surgery in 1994. She is a Director, CEO and...</p>
                    <button class="btn paralax-btn-outline-yellow my-2 my-sm-0">Read More</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-center col-md-4">
        <div class="col-lg-4">
            <div class="card shadow mb-5" style="width: 20rem; height:28rem; background-color:#F6F6F6">
                <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                <div class="card-block">
                    <p class="paralex-card-title header-font-card">Mrs. Modupeade Isesele (NIM)</p>
                    <p class="card-position">Institute of Directors</p>
                    <p class="paralex-card-text paralax-body-font-two">Mrs. Modupeade Isesele is a professional with several years of experience in commercial Banking. She graduated from University of Benin in 1988...</p>
                    <button class="btn paralax-btn-outline-yellow my-2 my-sm-0">Read More</button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row paralex-margin justify-content-center" style="margin-top:150px">

    <div class="row text-center col-md-4">
        <div class="col-lg-4">
            <div class="card shadow mb-5" style="width: 20rem; height:26rem; background-color:#F6F6F6">
                <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                <div class="card-block">
                    <p class="paralex-card-title header-font-card">Rev Tom Amenkhienan</p>
                    <p class="card-position">Institute of Directors</p>
                    <p class="paralex-card-text paralax-body-font-two">Rev. Tom Amenkhienan is graduate of Bendel State University (now Ambrose Alli University). He graduated wih a B.SC in Sociology in 1989...</p>
                    <button class="btn paralax-btn-outline-yellow my-2 my-sm-0">Read More</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center col-md-4">
        <div class="col-lg-4">
            <div class="card shadow mb-5" style="width: 20rem; height:26rem; background-color:#F6F6F6">
                <img class="card-img-top img-circle rounded-circle" src="https://dummyimage.com/100x100/000/fff" alt="Card image cap">
                <div class="card-block">
                    <p class="paralex-card-title header-font-card">Mr. Vale Odu-Thomas</p>
                    <p class="card-position">Institute of Directors</p>
                    <p class="paralex-card-text paralax-body-font-two">Mr. Vale Odu-Thomas is a professional with several years of experience in Quantity Surveying. He graduated from Obafemi Awolowo University...</p>
                    <button class="btn paralax-btn-outline-yellow my-2 my-sm-0">Read More</button>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="~/images/Logo.png" />
                    </div>
                    <div class="col-md-8 ml-auto">
                        <h2>This is the main header</h2>
                        <h5>This is his appointment</h5>
                        <p>This is the main gist</p>
                    </div>
                </div>
                <div class="row ">
                    
                    
                </div>
            </div>
            
           
        </div>
    </div>
</div>

