@page
@model Parallex_MFB.Web.Pages.business_account_openingModel
@{
}
<link href="~/css/business-account-opening.css" rel="stylesheet" />

<section id="personal_account">
    <div class="container">
        <div class="row hero-image">
            <div class="hero-content">
                <h1 class="hero-title">Welcome!!!</h1>
                <p class="hero-text">Open a business account from anywhere in the world and get your account number instantly.</p>
                <a href="#" class="btn btn-parallex-primary hero-button">
                    Get Started
                    <span class="fa fa-arrow-right"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 class="inner-page-header-font-orange">What Do I Need To Open An Account</h1>
                <ul class="list list-gold">
                    <li>
                        CAC/Registration Certificate
                    </li>
                    <li>
                        BVN
                    </li>
                    <li>
                        Identification Card
                    </li>
                    <li>
                        Scanned Signature
                    </li>
                    <li>
                        Passport Photograph
                    </li>
                    <li>
                        Tax Identification Number
                    </li>
                </ul>
            </div>

            <div class="col-md-4 ml-auto">
                <h1 class="inner-page-header-font-orange">Need Support? <br /> Contact Us</h1>
                <ul class="list list-gold list">
                    <li><a href="mailto:enquiries@parallexbankng.com">enquiries@parallexbankng.com</a></li>
                    <li><a href="tel:0700 7272 5539">0700 7272 5539</a></li>
                    <li><a href="https://www.parallexbank.com">www.parallexbank.com</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-padding">

    </div>
</section>
