@page
@model Parallex_MFB.Web.Pages.businessaccountsModel
@{
}
<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font" style="top:244px">
            <p class="header-font">Business Accounts</p>
            <p class="paralax-body-font-inner col-md-5" style="margin-left:38px">
                Every business is unique and we recognize that. Hence the availability of varying solutions to move your business to the next level. Our array of Business Banking offerings seek to take away your financial burden and help you focus on your core business:
            </p>
        </div>

    </div>

</div>

<section class="section-padding paralax-breadcrum">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Business Banking</a></li>
                    <li class="breadcrumb-item"><a href="#">Business Accounts</a></li>

                </ol>
            </nav>
        </div>
    </div>
</section>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">Business Banking Products</p>
        <p class="paralax-body-font">
            Experience the advantages of being with Nigeria’s truly Digital Bank, and take advantage of the many benefits of our Business accounts and gain an edge over your competition. Get an account that actually helps your business grow.
        </p>

        <ul>

            <li class="header-font-card-bullet">
                <p>Classic Business Account - (Tiered)</p>
            </li>
            <p class="paralax-body-font">This tiered Current account provides convenience for businesses, as you will not be charged the Account Maintenance Charge, but a monthly discounted service charge based on your debit turnover for the month. This helps you save on Bank charges and give more to your bottom-line.</p>
            <li class="header-font-card-bullet">
                <p>Premium Business Account</p>
            </li>
            <p class="paralax-body-font">This tiered Current account provides convenience for businesses, as you will not be charged the Account Maintenance Charge, but a monthly discounted service charge based on your debit turnover for the month. This helps you save on Bank charges and give more to your bottom-line.</p>
            <li class="header-font-card-bullet">
                <p>Platinum Business Account</p>
            </li>
            <p class="paralax-body-font">This business current account offers you interest payments on your account balance whilst providing you seamless transacting on your account. You also get no Account Maintenance Charge, subject to meeting the terms and conditions.</p>

        </ul>

        <p class="paralax-body-font">In addition to the above, we provide you with a Business loan options starting with our Classic Business Loan to support and enhance working capital financing for stocking & day to day running of business like (salary payments, utilities, rents etc.)</p>

    </div>

</div>
<div class="row col-md-12 paralex-margin" style="background-color: #FFF">
    <p class="header-font"><a class="header-font" href="#">Click Here</a> To Get Started</p>
</div>