@page
@model Parallex_MFB.Web.Pages.cardsModel
@{
}
<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Cards</p>
           
        </div>

    </div>

</div>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">Cards</p>
        <p class="paralax-body-font">
            We offer the Verve Debit cards, pre-funded MasterCard, Debit MasterCard and Credit Cards.
        </p>

       
    </div>

</div>
