@page
@model Parallex_MFB.Web.Pages.profileModel
@{ }





<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/building-13.jpg" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Company Profile</p>

        </div>

    </div>

</div>
<section class="section-padding paralax-body-font">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">About us</a></li>
                    <li class="breadcrumb-item active"><a href="#">Company Profile</a></li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p><img src="~/icons/Company Profile Icon.svg" width="100" /></p>
        <div>
            <p class="inner-page-header-font ">Company Profile</p>
            <p class="paralax-body-font">
                Parallex Bank Limited was incorporated as a limited liability company on the 22nd day of May 2020, having successfully converted from Parallex Microfinance Bank (a National Microfinance Bank incorporated in 2008 as a Unit MFB) to a commercial bank duly licensed by the Central Bank of Nigeria to carry out commercial banking services. This is a first of its kind achievement in the Nigeria banking space.
            </p>
            <p class="paralax-body-font">
                At Parallex Bank, we are poised to be the preferred financial solutions provider redefining customer experience through innovations. This we will achieve by leveraging the best talents and technology to deliver unparalleled value to our stakeholders. With a strong ecosystem anchored around the customer, we offer a superior product portfolio that is customer focused, innovative but simple.
            </p>
            <p class="paralax-body-font">
                Parallex Bank is divinely endowed with a workforce of seasoned, dynamic and visionary professionals with the right mix of skills, expertise and experience. And this is complemented by a forward-looking Board of Directors.
            </p>
            <p class="paralax-body-font">
                Parallex Bank is located at the heart of the commercial centre of Lagos at Plot 1261 Adeola Hopewell Street, Victoria Island, Lagos with a strategically located branch network across three geopolitical zones in Nigeria, including the Federal Capital Territory, Abuja. 
            </p>
        </div>
    </div>

</div>