@page
@model Parallex_MFB.Web.Pages.currentaccountModel
@{
}

<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Current Accounts</p>
            <p class="paralax-body-font-inner col-md-4" style="margin-left:38px">
                Why not turn your personal goals into reality with our array of current accounts below:
            </p>
        </div>
       
    </div>

</div>

<section class="section-padding paralax-breadcrum">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Personal Banking</a></li>
                    <li class="breadcrumb-item"><a href="#">Accounts</a></li>
                    <li class="breadcrumb-item"><a href="#">Current Account</a></li>
                </ol>
            </nav>
        </div>
    </div>
</section>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">Current Account Products</p>
        <p class="paralax-body-font">
            Do you need help in choosing a Chequing Account? Our array of Current Accounts provides you with just the right account in only a few minutes:
        </p>
        <p class="paralax-body-font">
            Much more than cheques, collections, and payments; our Current Accounts
            receive cheques and allow you issue cheques and make payments and collections conveniently.

        </p>
        <p class="paralax-body-font">
            Account offerings provide you with innovative ways to manage your finances with ease at any place of your convenience.
        </p>

        <ul>

            <li class="header-font-card-bullet">
                <p>Classic Current Account</p>
            </li>
            <p class="paralax-body-font">our Classic Current Account provides you ease in your day to day payments and collections.</p>
            <li class="header-font-card-bullet">
                <p>Gold Current Account</p>
            </li>
            <p class="paralax-body-font">our Gold Current Account offers you maximum interest payments on your daily account balances and minimum charges on your transactions.</p>
            <li class="header-font-card-bullet">
                <p>Platinum Current Account</p>
            </li>
            <p class="paralax-body-font">enjoy the benefit of a Call account with our auto-sweep option moving your excess or idle funds into an interest-bearing account to maximize your funds with attractive returns.</p>
            <li class="header-font-card-bullet">
                <p>Domiciliary Account</p>
            </li>
            <p class="paralax-body-font">enjoy the benefit of a Call account with our auto-sweep option moving your excess or idle funds into an interest-bearing account to maximize your funds with attractive returns.</p>
            <li class="header-font-card-bullet">
                <p>Salary Current Account</p>
            </li>
            <p class="paralax-body-font">are you a Salary earner? Then our Salary proposition will provide you ease and convenience.</p>
        </ul>
    </div>
    
</div>
<div class="row col-md-12 paralex-margin" style="background-color: #FFF">
    <p class="header-font"><a class="header-font" href="#">Click Here</a> To Get Started</p>
</div>