@page
@model Parallex_MFB.Web.Pages.fixedincomeaccountModel
@{
}
<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Fixed Income Accounts</p>
            
        </div>

    </div>

</div>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">Fixed Income Accounts</p>
        <p class="paralax-body-font">
            To keep you earning on your excess funds, whether in local or foreign currency, the following accounts provide maximum value on your idle funds:
        </p>
        

        <ul>

            <li class="paralax-body-font">
                <p>Classic Current Account</p>
            </li>
            <li class="paralax-body-font">
                <p>Fixed Deposit Account Current Account</p>
            </li>
            <li class="paralax-body-font">
                <p>Domiciliary Investment Account</p>
            </li>
            
        </ul>
    </div>

</div>
<div class="row col-md-12 paralex-margin" style="background-color: #FFF">
    <p class="header-font"><a class="header-font" href="#">Click Here</a> To Get Started</p>
</div>