@page
@model Parallex_MFB.Web.Pages.loansModel
@{
}
<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Loans</p>
            <p class="paralax-body-font col-md-4" style="margin-left:38px">
                Get you need when, you need it through our array of personal loans
            </p>
        </div>

    </div>

</div>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">Personal Loans</p>
        <p class="paralax-body-font">
            Our personal loans provide you with the right financing for your personal needs while guaranteeing you all the security you are looking for. Choose from our wide range of simple and straightforward loan offers for your Personal needs and the projects you care about.
        </p>

        <ul>

            <li class="header-font-card-bullet">
                <p>Salary Loans</p>
            </li>
            <p class="paralax-body-font">as a salary earner, you can access non-collaterized loans to meet urgent needs be it for rent, schools fees or other pressing needs.</p>
            <li class="header-font-card-bullet">
                <p>Salary Advance Loans</p>
            </li>
            <p class="paralax-body-font">accessing a portion of your salary has become seamless with our Salary advance proposition.</p>
            <li class="header-font-card-bullet">
                <p>Digital Credit</p>
            </li>
            <p class="paralax-body-font">Get up to 3 months of your salary at an interest rate of 1.33% monthly to pay back over 6 months or a year.</p>
            <li class="header-font-card-bullet">
                <p>Credit Card</p>
            </li>
            <p class="paralax-body-font">our Parallex Naira Credit card is available to you when you need to spend more.</p>
           
        </ul>
    </div>

</div>
<div class="row col-md-12 paralex-margin" style="background-color: #FFF">
    <p class="header-font"><a class="header-font" href="#">Click Here</a> To Get Started</p>
</div>