@page
@model Parallex_MFB.Web.Pages.missionModel
@{
}

<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/pexels-rebrand-cities-1367269.jpg" />

        
            <div class="container paralax-header-text paralax-nav-barlink-font">
                <p class="header-font">Our Vision/Mission/Values</p>

            </div>
       

    </div>

</div>

<div class="container row paralex-margin-inner-pages">
    <div class="row col-md-5">
        <p><img src="~/icons/vision.svg" width="70" /></p>         
        <div>
            <p class="inner-page-header-font ">Our Vision</p>

            <p class="paralax-body-font">
                To be the preferred financial solutions provider, redefining customer experience through innovation.
            </p>

        </div>


    </div>
    <div class="row col-md-5 ml-auto">
        <p><img src="~/icons/mission.svg" width="70" /></p>
        <div>
            <p class="inner-page-header-font ">Our Mission</p>

            <p class="paralax-body-font">
                Our mission is a commitment to upgrading the lives of people by providing them with the highest quality financial solutions.
            </p>

        </div>
    </div>
</div>

<div class="container paralex-margin-inner-pages">
    <p><img src="~/icons/Our Core Values Icon.svg" width="70" /></p>    
    <div>
        <p class="inner-page-header-font ">Our Core Values</p>

    </div>

</div>

<div class="container row paralex-margin-inner-pages">

    <div class="row col-md-4">
        <p><img src="~/icons/Professionalism.svg" width="70" /></p>        
        
        <div>
            <p class="header-font-card">Professionalism</p>

            <p class="paralax-body-font">
                We are committed to conduct ourselves in a manner consistent with the highest standards of integrity.
            </p>

        </div>

    </div>
    <div class="row col-md-4 ml-auto">
        <p><img src="~/icons/Innovation.svg" width="80" /></p>
        <div>
            <p class="header-font-card">Innovation</p>

            <p class="paralax-body-font">
                We are entrepreneurial, pursuing new and bold ideas to transform what we do.
            </p>

        </div>
    </div>

    <div class="row col-md-4">
        <p><img src="~/icons/Excellence.svg" width="80" /></p>
        <div>
            <p class="header-font-card">Excellence</p>

            <p class="paralax-body-font">
                We take pride in our ability to execute flawlessly, exceed expectations and create superior value.
            </p>

        </div>
    </div>


</div>

<div class="container row paralex-margin-inner-pages">

    <div class="row col-md-4">

        <p><img src="~/icons/Customer Centric.svg" width="50" /></p>
        <div>
            <p class="header-font-card">Customer Centric</p>

            <p class="paralax-body-font">
                We start and end with the customer, meeting their needs is our priority.
            </p>

        </div>

    </div>
    <div class="row col-md-4 ml-4" style="margin-left:72px">
        <p><img src="~/icons/Collaboration.svg" width="80" /></p>
        <div>
            <p class="header-font-card">Collaboration</p>

            <p class="paralax-body-font">
                We are open to working with various stake holders to amplify our impact and capability.
            </p>

        </div>
    </div>


</div>