@page
@model Parallex_MFB.Web.Pages.moreproductsservicesModel
@{
}
<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">More On Products &#38; Services </p>

        </div>

    </div>

</div>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">WealthBeing Products</p>
        <p class="paralax-body-font">
            Life insurance, General insurance, Savings & Investment, Retirement Savings Account, Wills and Education Investment Plan.
        </p>


    </div>

</div>
