@page
@model Parallex_MFB.Web.Pages.personal_accountModel
@{
}

<link href="~/css/personal-account.css" rel="stylesheet" />

<section id="personal_account">
    <div class="container">
        <div class="row hero-image">
            <div class="hero-content">
                <h1 class="hero-title">Welcome!!!</h1>
                <p class="hero-text">Open a parallex savings account from anywhere in the world and get your account number instantly.</p>
                <button class="btn btn-parallex btn-parallex-primary">
                    Get Started
                    <span class="fa fa-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>
</section>

<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h1 class="inner-page-header-font-orange">What Do I Need To Open An Account</h1>
                <ul class="list list-gold">
                    <li>
                        Scanned Copy of Passport Photograph
                    </li>
                    <li>
                        Scanned Copy of Signature
                    </li>
                </ul>
                <p>
                    If Opening an account for a minor (0-15 years), a scanned copy of the child's birth certificate and passport photograph will be required.
                </p>
            </div>

            <div class="row col-md-5 d-flex ml-auto">
                <h1 class="inner-page-header-font-orange ml-5">Account Features</h1>
                <ul class="list list-gold">
                    <li>Zero minimum operating balance</li>
                    <li>Attractive and competitive interest rate</li>
                    <li>Free access to secure mobile and internet banking</li>
                    <li>Debit card that can be used anywhere around the world</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="section-padding">

    </div>
</section>
