@page
@model Parallex_MFB.Web.Pages.savingsaccountModel
@{
}

<div class="container-fluid paralax-header-container">

    <div class="row">

        <img class="paralax-header-image-restriction" src="~/images/boardroom.png" />

        <div class="container paralax-header-text paralax-nav-barlink-font">
            <p class="header-font">Savings Accounts</p>
            <p class="paralax-body-font col-md-5" style="margin-left:38px">
                Saving can be so much fun, and you can achieve your financial goals with attractive interest earnings through our Savings propositions below:
            </p>
        </div>

    </div>

</div>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">Savings Account Products</p>
        <p class="paralax-body-font">
            Saving for tomorrow has become much easier with our array of high interest and low charges savings accounts:
        </p>
        

        <ul>

            <li class="header-font-card-bullet">
                <p>Classic Savings Account</p>
            </li>
            <p class="paralax-body-font">Saving should be an integral part of our financial life and our Classic Savings account makes this a seamless process with minimal charges and interest payment.</p>
            <li class="header-font-card-bullet">
                <p>Target Savings Account</p>
            </li>
            <p class="paralax-body-font">is a high interest yielding account designed to help you save towards a specific financial goal or target. Several target accounts can be used for varying purposes.</p>
            <li class="header-font-card-bullet">
                <p>Great Kids Account</p>
            </li>
            <p class="paralax-body-font"> a unique savings account designed to allow parents save for their kid’s future and teach kids about savings from a tender age. The overarching objective is to make saving fun and teach financial discipline from a tender age.</p>
            <li class="header-font-card-bullet">
                <p>Salary Savings Account</p>
            </li>
            <p class="paralax-body-font">our Salary proposition will provide you ease and convenience.</p>
            <li class="header-font-card-bullet">
                <p>Youth Savings Account</p>
            </li>
            <p class="paralax-body-font">a unique savings account for undergraduates with a distinctive sense of their identity. It enhances the lifestyle of the discerning student and provides a platform for account holders to achieve their lofty financial dreams.</p>
        </ul>
    </div>

</div>

<div class="container paralex-margin-inner-pages">
    <div class="row col-md-8">
        <p class="inner-page-header-font ">General Savings Account Features</p>

        <ul>

            <li class="header-font-card-bullet">
                <p class="paralax-body-font">Zero account opening balance</p>
            </li>
            <li class="header-font-card-bullet">
                <p class="paralax-body-font">Earn interest of a minimum of 1.15% per annum and higher, depending on the account type.</p>
            </li>
            <li class="header-font-card-bullet">
                <p class="paralax-body-font">Earn interest of a minimum of 1.15% per annum and higher, depending on the account type. </p>
            </li>
            <li class="header-font-card-bullet">
                <p class="paralax-body-font">Online/Internet banking </p>
            </li>
            <li class="header-font-card-bullet">
                <p class="paralax-body-font">Retail mobile banking app </p>
            </li>
            <li class="header-font-card-bullet">
                <p class="paralax-body-font">Email and/or SMS alert </p>
            </li>
        </ul>
    </div>

</div>
<div class="row col-md-12 paralex-margin" style="background-color: #FFF">
    <p class="header-font"><a class="header-font" href="#">Click Here</a> To Get Started</p>
</div>